@{
    ViewData["Title"] = "Home Page";
}

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="\assets\img\Ein at the computer.gif" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>John Black:</b> Full Stack Coder</h1>
                            <h3 class="h2"></h3>
                            <p>
                                A diligent worker with plans to bring a breath of fresh air to Full Stack Coding!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="\assets\img\cowboy-bebop-hacker.gif" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1"></h1>
                            <h3 class="h2">Passion & Integrity</h3>
                            <p>
                                With my combined training in the U.S. Air Force and Centriq, I know what it takes to bring authentic customer service into the Full Stack Industry.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="\assets\img\Ein smile at console.gif" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Thank You!</h1>
                            <h3 class="h2"></h3>
                            <p>
                                I truly appreciate you taking the time to visit this site, I hope that I can provide you with the services that you seek!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->
<!-- Start Portfolio -->

<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">My Portfolio</h1>
            <p>
                Below are some projects that show my depth within Full Stack Coding
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <a class="text-reset text-decoration-none" href="https://github.com/JohnBlack-101/Dungeon">
                    <div class="h1 text-success text-center">
                        <i class="fa fa-truck fa-lg"></i>
                    </div>
                    <h2 class="h5 mt-4 text-center">Dungeon App</h2>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <a class="text-reset text-decoration-none" href="#">
                    <div class="h1 text-success text-center">
                        <i class="fa fa-truck fa-lg"></i>
                    </div>
                    <h2 class="h5 mt-4 text-center">Storefront Project</h2>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <a class="text-reset text-decoration-none" href="#">
                    <div class="h1 text-success text-center">
                        <i class="fa fa-truck fa-lg"></i>
                    </div>
                    <h2 class="h5 mt-4 text-center">API</h2>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <a class="text-reset text-decoration-none" href="#">
                    <div class="h1 text-success text-center">
                        <i class="fa fa-truck fa-lg"></i>
                    </div>
                    <h2 class="h5 mt-4 text-center">React.js App</h2>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <a class="text-reset text-decoration-none" href="#">
                    <div class="h1 text-success text-center">
                        <i class="fa fa-truck fa-lg"></i>
                    </div>
                    <h2 class="h5 mt-4 text-center">S.A.T. Project</h2>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow">
                <a class="text-reset text-decoration-none" href="#">
                    <div class="h1 text-success text-center">
                        <i class="fa fa-truck fa-lg"></i>
                    </div>
                    <h2 class="h5 mt-4 text-center">Final Project</h2>
                </a>
            </div>
        </div>
</section>

<!--End Portfolio-->
